<p id="notice"><%= notice %></p>

<p>
  <b>Interval:</b>
  <%= @interval.interval.strftime('%H:%M') %>
</p>


<%= link_to 'Edit', edit_interval_path(@interval) %> |
<%= link_to 'Back', intervals_path %>
