<center>
<b>January 31, 2012</b></br> 
~ Convert time fields to time</br>
</p>
<b>January 30, 2012</b></br> 
~ Default to Date.today</br>
~ Simplfy search</br>
</p>
<b>January 20, 2012</b></br> 
~ Improve CSS layout</br>
~ Jquery Moveable</br>
</p>
<b>January 19, 2012</b></br> 
~ Create Party Count</br>
~ Create image helper</br>
~ Fix Image CSS</br>
</p>
<b>January 16, 2012</b></br> 
~ Fix jquery and add calendars</br>

</p>
<b>January 13, 2012</b></br> 
~ Outlet & Casino Images</br>
~ Remove reservation Index, add table, cedar, lombardi's and stgermains</br>
~ Add Search for Outlets </br>
~ Sort by Date</br>
~ Gem meta_search, kaminari</br>

</p>
<b>January 12, 2012</b></br> 
~ Added datepicker to reservation</br>
~ Added jquery files</br>

</p>
<b>January 10, 2012</b></br> 
~ Created Intervals</br>
~ Updated Gems</br>  

</p>
<b>January 9, 2012</b></br> 
~ Created Reservations</br> 
~ Created Outlets</br>  
~ Created Custom CSS</br> 
~ Added Header and Footer</br> 
</center>
<p>
