<center>
<b>January 9, 2012</b></br> 
~ Created Reservations</br> 
~ Created Outlets</br>  
~ Created Custom CSS</br> 
~ Added Header and Footer</br> 
</p>
<b>January 10, 2012</b></br> 
~ Created Intervals</br>
~ Updated Gems</br>  
</p>
<b>January 12, 2012</b></br> 
~ Added datepicker to reservation</br>
~ Added jquery files</br>
</p>
<b>January 13, 2012</b></br> 
~ Outlet & Casino Images</br>
~ Remove reservation Index, add table, cedar, lombardi's and stgermains</br>
~ Add Search for Outlets </br>
~ Sort by Date</br>
~ Gem meta_search, kaminari</br>
</center>