</p>


<%= link_to image_tag("germains.png"), reservations_path %>
<%= link_to image_tag("lombardi.png"), reservations_path %>
<%= link_to image_tag("cedar.png"), reservations_path %>
</p>



