<center>


<form action = "/lombardis" class="reservation_search" id="reservation_search" method="get">


    <div class="field">
    <label for= "res_date_equals"> Search Date:</label>
    <input id= "res_date_equals" name="search[res_date_equals]" type="text" />
    </div>
    <P>
    <input name="commit" type="submit" value="Search" />

</center>