#header
{

}

body
{
	margin: 0;
	padding: 0;
}

#container
{
	margin: 1em auto;
	background: #fff;
	margin-left: 20px;
}
#menu
{
	float: right;
	width: 165px;
	background: #6F9;
}

#content
{
	float: left;
	margin: 0 0 0 20px;

}

#footer
{
	clear: both;
	text-align: center;
}
#aside
{
	float: right;
	width: 240px;
	padding: 20px 0;
	margin: 0 20px 0 0;
	display: inline;
}

textarea
{
	height:100px;
}