#draggable_interval 
{ 
	width: 150px; height: 150px; padding: 0.5em; style="position: relative; left: 1088px; top: -225px;
	border: none;
}

#draggable_reservation 
{ 
	width: 1000px; height: 150px; padding: 0.5em; style="position: relative; left: 84px; top: 9px; 
	border: none;
}


#footer
{

	text-align: center;
}

#content
{
	width: 800px;
	padding: 30px;
	margin-right 50px;
	display: inline;
}


textarea
{
	height:100px;
}