
<div id = "footer">
	<center>	
		<table>	
			<tr>
				<td><%= button_to 'Home', root_path, method: :get %></td>
				<td><%= button_to 'About', about_path%></td>
			</tr>
		</table>
	</center>
</div>

